<table class="table">
    <thead>
        <tr>
            <th>ФИО</th>
            <th>Пол</th>
            <th>Дата рождения</th>
            <th>Мать</th>
            <th>Отец</th>
            <th>Супруг / супруга</th>
            <th>Дети</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="human in home.humans">
            <td><a ng-href="/humans/edit/{{human.id}}">{{human.name}}</a></td>
            <td>{{human.gender == 'male' ? 'Мужской' : 'Женский'}}</td>
            <td>{{human.birthday | date : 'dd.MM.yyyy'}}</td>
            <td>{{home.getHumanById(human.motherId).name}}</td>
            <td>{{home.getHumanById(human.fatherId).name}}</td>
            <td>{{home.getHumanById(human.consortId).name}}</td>
            <td><ul><li ng-repeat="childId in human.childrenIds">{{home.getHumanById(childId).name}}</li></ul></td>
            <td><a ng-href="/humans/remove/{{human.id}}" title="Удалить"><i class="glyphicon-remove-circle"></i></a></td>
        </tr>
    </tbody>
</table>
