<div class="row">
    <div class="col-sm-6">
        <div class="alert alert-success" role="alert" ng-show="updateHuman.success">
            <strong>Сохранение выполнено</strong>
        </div>

        <div class="alert alert-danger" role="alert" ng-show="updateHuman.error">
            <strong>Сервер ругается</strong><br />
            Сервер ответил "{{updateHuman.error.status}}: {{updateHuman.error.data.message || updateHuman.error.statusText}}"
            при попытке выполнить запрос <a ng-href="{{updateHuman.error.config.url}}">{{updateHuman.error.config.url}}</a>
        </div>

        <form class="form" name="add-human" ng-submit="updateHuman.save()">
            <div class="form-group">
                <label for="add-human-name"><sup>*</sup> ФИО:</label>
                <input type="text" id="add-human-name" required
                       ng-model="updateHuman.human.name">
            </div>
            <div class="form-group">
                <label for="add-human-gender"><sup>*</sup> Пол:</label>
                <select id="add-human-gender" required
                        ng-model="updateHuman.human.gender">
                    <option value=""></option>
                    <option value="male">Мужской</option>
                    <option value="female">Женский</option>
                </select>
            </div>
            <div class="form-group">
                <label for="add-human-birthday"><sup>*</sup> Дата рождения:</label>
                <input type="date" id="add-human-birthday" required
                       ng-model="updateHuman.human.birthday">
            </div>
            <div class="form-group">
                <label for="add-human-father">Отец:</label>
                <select id="add-human-father"
                        ng-model="updateHuman.human.fatherId"
                        ng-options="key as value for (key, value) in updateHuman.humans"></select>
            </div>
            <div class="form-group">
                <label for="add-human-mother">Мать:</label>
                <select id="add-human-mother"
                        ng-model="updateHuman.human.motherId"
                        ng-options="key as value for (key, value) in updateHuman.humans"></select>
            </div>
            <div class="form-group">
                <label for="add-human-consort">Супруг (супруга):</label>
                <select id="add-human-consort"
                        ng-model="updateHuman.human.consortId"
                        ng-options="key as value for (key, value) in updateHuman.humans"></select>
            </div>
            <div class="form-group">
                <label for="add-human-children">Дети:</label>
                <select id="add-human-children" multiple
                        ng-model="updateHuman.human.childrenIds"
                        ng-options="key as value for (key, value) in updateHuman.humans"></select>
            </div>

            <button class="btn btn-primary" type="submit">Сохранить</button>
            <a href="/" class="btn" type="">Назад</a>
        </form>
    </div>

    <div class="col-sm-6">
        <sigmajs root="updateHuman.treeRoot" style="height: 500px"></div>
    </div>
</div>
