<div class="text-center">
    <p>Вы действительно хотите удалить {{removeHuman.human.name}} из системы?</p>

    <button class="btn btn-danger" ng-click="removeHuman.remove()">Да, сто пудов</button>
    <a href="/" class="btn">Не, я передумал</a>
</div>